.contact img{
    width:30px;
    height:auto;
}
.contact{
    display: flex;
    flex-direction: column;
    gap:4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.contact h2{
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 0.1rem;
    color: white;
    font-family: 'PoppinsBlack', sans-serif;
    font-size: 2rem;
    padding: 0;
}