.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid pink; */
    gap: 2rem;
    margin-top: 4rem;
}

main {
    margin-top: 8rem;
}

.container img,
.image-container img {
    width: 29rem;
    height: 17rem;
}

.container video {
    width: 70%;
    /* border: 1px solid pink; */
}

.container-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-heading h2 {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 0.1rem;
    color: white;
    font-family: 'PoppinsBlack', sans-serif;
    font-size: 3rem;
    padding: 0;
}

.container-details {
    width: 70%;
    margin: 0;
}

.container-details h5 {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 0.1rem;
    color: white;
    font-family: 'PoppinsBlack', sans-serif;
    font-size: 1.4rem;
    padding: 0;
}

.container-details p {
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.image-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    /* border: 1px solid white; */
}

.image-container-row {
    display: flex;
    /* width:50%; */
    gap: 0.5rem;
    align-items: center;
    /* border: 1px solid white; */
}

.images figcaption {
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
}

.images {
    margin-top: 2rem;
}

.contact {
    margin-top: 6rem;
}

@media screen and (max-width: 748px) {
    main{
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .container-heading h2 {
        text-align: center;
        font-size: 1.4rem;
        width:100%;
    }

    .container {
        padding: 1rem;
        margin: 0;
        /* border: 1px solid white; */
    }

    .container video {
        width: 100%;
    }

    .container img,
    .image-container img {
        width: 100%;
        height: auto;
    }

    .image-container-row {
        flex-direction: column;
    }
    .container-details{
        width:100%;
    }
    .container-details h5{
        font-size: 0.8rem;
    }
    .container-details p{
        font-size: 0.7rem;
    }
    .image-container{
        padding:1rem;
        /* border: 1px solid white; */
        width:90%;
    }
    .images figcaption {
        font-size: 0.6rem;
    }
    .container figcaption{
        margin-top: 0.5rem;
        font-size: 0.6rem;
    }
}